html {
  font-size: 16px;
  /*width: 100%;*/
}

body {
  color: #43464b;
}

header {
  height: 4rem;
  /*border: 1px solid red;*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: white;
}

.logo {
  display: flex;
  margin-left: 1.5rem;
  height: 2rem;
  font-family: "Graduate", serif;
  font-weight: 600;
  font-size: 1.2rem;
  align-items: center;
  /*border: 1px dashed blue;*/
}

.logo .academy {
  color: #fd5536;
  font-weight: 500;
  font-family: "Graduate", serif;
  font-size: 1.5rem;
}

.logo a {
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

nav {
  /*border: 1px solid green;*/
  margin-right: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

nav span {
  padding-right: 1rem;
}

nav a:hover {
  color: #fd5536;
  text-shadow: 0.05rem 0.05rem #bddace;
}

nav span:last-child a {
  color: #fd5536;
}

.mobile {
  display: none;
}

.banner {
  background-color: #bddace;
  border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 4rem;
}

.img-container {
  margin: 2rem 1.5rem;
  width: 60%;
}

.banner img {
  /*border: 2px solid white;*/
  width: 100%;
  height: auto;
}

.banner-text {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
  line-height: 1.4;
  width: 40%;
  /*padding-right: 2rem;*/
}

.banner-text p {
  font-size: 1.5rem;
  margin-bottom: 2.3rem;
}

h1 {
font-weight: bold;
font-size: 2.6rem;
font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Open Sans", serif;
  font-size: 2.1rem;
  font-weight: bold;
}

h3 {
  font-family: "Graduate", serif;
  margin: 0.5rem 0;
  font-size: 1.3rem;
  font-weight: bold;
}

h4 {
  font-family: "Open Sans", serif;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

span {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

.read {
  color: #fd5536;
}


.cta {
  background-color: #fd5536;
  color: white;
  padding: 0.5rem 0;
  width: 85%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

h1, h2, .cta {
  margin-bottom: 2.3rem;
}

.cta:hover {
  border: 2px solid white;
  border-radius: 5rem;
  text-shadow: 0.05rem 0.05rem #43464b;
  font-size: 1.3rem;
}

.info-section {
  border: 1px solid red;
  position: relative;
  top: 4rem;
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
}



.info-section img {
  width: 100%;
  height: auto;
}

.info-section span {
  color: #fd5536;
  font-weight: bold;
}

.info-column1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.info-text1 {
  width: 100%;
  text-align:left;
  margin: 2rem 0;
}

.info-text1 h2, p {
  margin-bottom: 1.5rem;
}

.info-column2 {
  width: 40%;
  border: 1px solid yellow;
}

.info-column2 p {
  font-size: 1rem;
}

.info-img-container {
  width: 35%;
  margin: 1rem;
  border: 1px solid green;
}

.info-img-container img {
  width: 100%;
  vertical-align: middle;
}

.main-img-container img {
  width: 100%;
  height: auto;
}

.infotext {
  margin-bottom: 0.5rem;
}

.infotext:hover {
  background-color:#bddace;
}


.orientation, .campus, .lecture {
  /*margin-top: 1rem;*/
  display: flex;
  align-items: center;
  /*padding: 0.4rem;*/
  /*border: 1px solid black;*/
}

.specific-info {
  width: 65%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.mobile-img {
  display: none;
}

.courses-section {
  position: relative;
  top: 4rem;
  border: 1px solid black;
  background-color: #bddace;
}

.courses-section h2 {
  text-align: center;
  margin: 2rem 0;
}



.desktop-courses {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 1rem;
}


.course-container {
  width: 27%;
  min-width: 250px;
  background-color: white;
  border: 1px solid yellow;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.course-descr-container {
  padding-left: 1rem;
  padding-top: 0.5rem;
}
/*.left {
  margin-left: 2rem;
}

.middle {
  margin-left: 2rem;
  margin-right: 2rem;
}

.right {
  margin-right: 2rem;
}*/

.course-img-container {
  width: 100%;
  border: 1px solid green;
}

.course-img-container img {
  width: 100%;
  vertical-align: middle;
  border: 1px solid red;
}

.mobile-courses {
  display: none;
}





/* Set breakpoint based on design and phone screen size consideration*/
@media only screen and (max-width: 700px){
  .mobile {
    display: flex;
    border: 1px solid yellow;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    /*justify-content: center;*/
    margin: 0;
  }

  .logo, nav {
    display: none;
  }

  .banner {
    flex-direction: column;
  }

  .img-container {
    width: 100%;
    margin:0;
  }

  .banner-text {
    margin: 2rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }

  .cta {
    margin: 0;
    font-size: 1.2rem;
  }

  .info-column1 {
    display: none;
  }

  .info-section {
    margin-top: 0;
  }

.info-section {
  flex-direction: column;
}

.info-column1, .info-column2 {
  width: 100%;
  margin: 0;
}

.mobile-img {
  display: block;
}

.info-img-container {
  margin: 1rem;
  width: 90%;
}

.orientation, .campus, .lecture {
  flex-direction: column;
  margin-bottom: 0;
}

.specific-info {
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.desktop-img {
  display: none;
}

.desktop-courses {
  display: none;
}

.mobile-courses {
  display: flex;
  flex-direction: column;
}

.courses-section {
  background-color: white;
}

.courses-section h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.courses {
  text-align: left;
}

.courses:hover {
}

.courses p {
  background-color: #bddace;
  font-family: "Graduate", serif;
  font-size: 1.1rem;
  font-weight: 500;
  border: 1px solid #43464b;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.courses p:hover {
  background-color:#fd5536;
  color: white;
  border: 1px solid white;
}


}
